<section class="base-section">
    <h2 class="mt-0 mb-4">{{ content.title }}</h2>
    {% if view.image is defined and view.image.id is not null and view.image.displayOption == 'top' %}
        {% include "fragments/image.html.twig" %}
    {% endif %}
    {% if view.images is defined and view.images.ids is not empty and view.images.displayOption == 'top' %}
        {% include "fragments/slider.html.twig" %}
    {% endif %}
    {{ content.article | raw }}
    {% if view.images is defined and view.images.ids is not empty and view.images.displayOption == 'bottom' %}
        {% include "fragments/slider.html.twig" %}
    {% endif %}
    {% if view.image is defined and view.image.id is not null and view.image.displayOption == 'bottom' %}
        {% include "fragments/image.html.twig" %}
    {% endif %}
</section>
