<div id="slider" class="carousel slide mt-4" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for image in content.images %}
            <li data-target="#slider" data-slide-to="{{ loop.index0 }}"{% if loop.first%} class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for image in content.images %}
            <div class="carousel-item{% if loop.first %} active{% endif %}">
                <img src="{{ image.thumbnails['640x480-inset'] }}" class="d-block w-100" alt="{{ image.name }}">
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
        <i class="fas fa-chevron-left fa-2x"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
        <i class="fas fa-chevron-right fa-2x"></i>
        <span class="sr-only">Next</span>
    </a>
</div>
