{% extends "base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-2">
                <aside>
                    <ul class="nav">
                        {% for item in sulu_navigation_tree(sulu_content_load_parent(uuid).uuid, 'main') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ sulu_content_path(item.url) }}"> {# TODO set active item #}
                                    {{ item.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
            </div>
            <div class="col-10">
                {% include "fragments/content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}
