{% extends "base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if sulu_navigation_tree(uuid, 'main') | length %}
                <div class="col-3">
                    <aside class="base-aside">
                        <nav class="nav flex-column">
                            {% for item in sulu_navigation_tree(uuid, 'main') %}
                                <a class="nav-item nav-link pt-0 pr-0 pb-3 pl-0" href="{{ sulu_content_path(item.url) }}">
                                    {{ item.title }}
                                </a>
                            {% endfor %}
                        </nav>
                    </aside>
                </div>
            {% else %}
                <div class="col">
                    {% include "fragments/content.html.twig" %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
