{% extends "base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <aside class="base-aside">
                    <nav class="nav flex-column">
                        {% for item in sulu_navigation_tree(sulu_content_load_parent(uuid).uuid, 'main') %}
                            <a class="nav-item nav-link pt-0 pr-0 pb-3 pl-3{% if sulu_navigation_is_active(item.url, content.url) %} active{% endif %}" href="{{ sulu_content_path(item.url) }}">
                                {{ item.title }}
                            </a>
                        {% endfor %}
                    </nav>
                </aside>
            </div>
            <div class="col-9">
                {% include "fragments/content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}
