{% extends "base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if sulu_navigation_tree(uuid, 'main') | length %}
                <div class="col-2">
                    <aside>
                        <ul class="nav">
                            {% for item in sulu_navigation_tree(uuid, 'main') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ sulu_content_path(item.url) }}">
                                        {{ item.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
                <div class="col-10">
                    {% include "fragments/content.html.twig" %}
                </div>
            {% else %}
                <div class="col">
                    {% include "fragments/content.html.twig" %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
