{% extends "@email/zurb_2/notification/body.html.twig" %}

{% block lead %}
    <small><strong>NOTIFICACIÓ WEB</strong></small>
    <p class="lead">Solicitud de contacte rebuda a través del formulari de la pàgina web.</p>
{% endblock %}

{% block content %}
    <spacer size="16"></spacer>
    <p>
        La persona {{ contact.name }} amb adreça de correu electronic {{ contact.email }} ha registrat una sol·licitut de contacte al sistema.
    </p>
    <p>
        A continuació trobaràs la pregunta que ha formulat i tens que respondre.
    </p>
    <spacer size="16"></spacer>
    <callout class="warning">
        <p>
            <em>{{ contact.message }}</em>
        </p>
    </callout>
    <spacer size="16"></spacer>
    <button href="mailto:{{ contact.email }}?subject=Resposta de contacte" class="rounded">Contestar</button>
{% endblock %}

{% block action %}{% endblock %}

{% block exception %}{% endblock %}

{% block footer_content %}
    <p><small>Enviat per Sulu</small></p>
{% endblock %}
